*.gz
*.tar
*.avi
*.pdf
*.dta
*.csv
*.tsv
*.sql
*.zip
*.sqlite3
*.sqlite
*.Rproj.user
*.Rdata
*.aux
*.log
*.png
*.eps
*.xls
*.xlsx
*.RData
*cbp16co.txt
*.html
*.gif
*.dat
*.RDataTmp
*.jld
*.jld2
manta_crawler/
empirics/code/company_list*.txt
*.Rhistory
